.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--paper-color);
  overflow: hidden;
  background-color: var(--asset-background);
  max-height: var(--asset-carousel-height, 540px);
}
