.code-block-container {
  position: relative;
  min-height: 25px;
  padding-inline-end: 33px;
  font-family: "Consolas", "Monaco", "Courier New", monospace;
  font-size: 0.9em;
  line-height: 1.5;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
