.card-audio {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .card-audio {
    padding: 0 var(--space-16);
    box-sizing: border-box;
  }
}
