.login-control {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.login-error {
  color: var(--font-color);
  font-size: 14px;
  max-width: 240px;
}
