.publish-buttons-wrapper {
  gap: var(--space-12);
  width: min(100%, var(--content-read-width));
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .publish-buttons-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: flex-start;
  }
}
