.upload-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  width: 100%;
  align-items: flex-start;
}

.upload-heading {
  margin: var(--space-8) 5px;
  color: var(--font-color);
  font-size: 18px;
  font-weight: bold;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.format-help {
  margin: 0;
  color: var(--font-muted-color);
  font-size: 0.75rem;
}

@media (max-width: 767px) {
  .upload-heading {
    margin: var(--space-8) 2px;
    font-size: 16px;
  }
}
