.upload-prompt {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: var(--font-color);
  font-size: 12px;
}

.upload-prompt > svg {
  color: var(--font-muted-color);
  font-size: 50px;
}

@media (max-width: 767px) {
  .upload-prompt > svg {
    font-size: 40px;
  }
}
