.tag-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.tag-input-wrapper h3 {
  margin: 8px 5px;
  font-size: 18px;
}

.failed-tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-8);
  font-size: 0.875rem;
}

.tag-error {
  margin: 0;
  color: var(--error-color);
  font-size: 14px;
}

@media (max-width: 767px) {
  .tag-input-wrapper h3 {
    margin: 8px 2px;
    font-size: 16px;
  }
}
